# Lista de 100 elementos con multiplos de 3

**Bucle de 100 elementos**

In [14]:
multiplos3=[valor for valor in range (1, 300) if valor%3==0]
print (multiplos3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

## Indice de masa corporal

In [3]:
import pandas as pd

In [4]:
pd.read_excel?

In [13]:
data = pd.read_excel("datosPE.xlsx")

In [14]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [16]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [36]:
data["Peso"].values

array([ 67,  99,  86, 118, 109,  81,  74,  69,  51, 104,  84,  63,  79,
        66,  91, 119,  56,  61,  66,  72,  66,  94,  55,  94, 102,  82,
       103, 102,  75,  88, 114,  74,  76,  73,  63, 101, 101,  89,  81,
       110, 101, 118, 102,  59,  74,  91,  58,  60,  85, 107, 111,  65,
       110, 114,  70,  62,  99,  80,  54, 108,  56,  68, 108, 116, 117,
        67,  65, 118,  86,  95,  70,  80,  62,  80,  92, 117,  72, 111,
        53,  69,  52,  77, 115,  58, 106, 117,  77, 115,  71,  76,  87,
        98, 104, 112,  56,  88,  98,  95,  61, 107], dtype=int64)

In [38]:
list3 = data["Peso"].values

In [51]:
data["Estatura"].values

array([1.41, 1.83, 1.9 , 1.65, 1.67, 1.66, 1.64, 1.7 , 1.67, 1.56, 1.49,
       1.56, 1.48, 1.86, 1.7 , 1.69, 1.52, 1.94, 1.7 , 1.44, 1.88, 1.51,
       1.69, 1.78, 1.58, 1.77, 1.6 , 1.81, 1.67, 1.81, 1.73, 1.62, 1.92,
       1.89, 1.84, 1.52, 1.59, 1.73, 1.94, 1.48, 1.47, 1.9 , 1.63, 1.65,
       1.49, 1.71, 1.85, 1.48, 1.85, 1.6 , 1.92, 1.61, 1.52, 1.52, 1.6 ,
       1.8 , 1.67, 1.4 , 1.92, 1.6 , 1.63, 1.9 , 1.83, 1.46, 1.82, 1.46,
       1.7 , 1.56, 1.45, 1.75, 1.56, 1.63, 1.43, 1.51, 1.67, 1.57, 1.66,
       1.58, 1.47, 1.87, 1.44, 1.91, 1.56, 1.4 , 1.71, 1.93, 1.72, 1.45,
       1.47, 1.88, 1.88, 1.53, 1.92, 1.65, 1.7 , 1.49, 1.54, 1.57, 1.61,
       1.62])

In [ ]:
list1 = data["Estatura"].values

In [52]:
list1

array([1.41, 1.83, 1.9 , 1.65, 1.67, 1.66, 1.64, 1.7 , 1.67, 1.56, 1.49,
       1.56, 1.48, 1.86, 1.7 , 1.69, 1.52, 1.94, 1.7 , 1.44, 1.88, 1.51,
       1.69, 1.78, 1.58, 1.77, 1.6 , 1.81, 1.67, 1.81, 1.73, 1.62, 1.92,
       1.89, 1.84, 1.52, 1.59, 1.73, 1.94, 1.48, 1.47, 1.9 , 1.63, 1.65,
       1.49, 1.71, 1.85, 1.48, 1.85, 1.6 , 1.92, 1.61, 1.52, 1.52, 1.6 ,
       1.8 , 1.67, 1.4 , 1.92, 1.6 , 1.63, 1.9 , 1.83, 1.46, 1.82, 1.46,
       1.7 , 1.56, 1.45, 1.75, 1.56, 1.63, 1.43, 1.51, 1.67, 1.57, 1.66,
       1.58, 1.47, 1.87, 1.44, 1.91, 1.56, 1.4 , 1.71, 1.93, 1.72, 1.45,
       1.47, 1.88, 1.88, 1.53, 1.92, 1.65, 1.7 , 1.49, 1.54, 1.57, 1.61,
       1.62])

In [53]:
list1*list1

array([1.9881, 3.3489, 3.61  , 2.7225, 2.7889, 2.7556, 2.6896, 2.89  ,
       2.7889, 2.4336, 2.2201, 2.4336, 2.1904, 3.4596, 2.89  , 2.8561,
       2.3104, 3.7636, 2.89  , 2.0736, 3.5344, 2.2801, 2.8561, 3.1684,
       2.4964, 3.1329, 2.56  , 3.2761, 2.7889, 3.2761, 2.9929, 2.6244,
       3.6864, 3.5721, 3.3856, 2.3104, 2.5281, 2.9929, 3.7636, 2.1904,
       2.1609, 3.61  , 2.6569, 2.7225, 2.2201, 2.9241, 3.4225, 2.1904,
       3.4225, 2.56  , 3.6864, 2.5921, 2.3104, 2.3104, 2.56  , 3.24  ,
       2.7889, 1.96  , 3.6864, 2.56  , 2.6569, 3.61  , 3.3489, 2.1316,
       3.3124, 2.1316, 2.89  , 2.4336, 2.1025, 3.0625, 2.4336, 2.6569,
       2.0449, 2.2801, 2.7889, 2.4649, 2.7556, 2.4964, 2.1609, 3.4969,
       2.0736, 3.6481, 2.4336, 1.96  , 2.9241, 3.7249, 2.9584, 2.1025,
       2.1609, 3.5344, 3.5344, 2.3409, 3.6864, 2.7225, 2.89  , 2.2201,
       2.3716, 2.4649, 2.5921, 2.6244])

In [59]:
list3/(list1*list1)

array([33.70051808, 29.56194571, 23.82271468, 43.34251607, 39.08350963,
       29.39468718, 27.51338489, 23.87543253, 18.28677973, 42.73504274,
       37.83613351, 25.88757396, 36.06647188, 19.07734998, 31.48788927,
       41.6652078 , 24.23822715, 16.20788607, 22.83737024, 34.72222222,
       18.67360797, 41.22626201, 19.25702882, 29.66797122, 40.85883672,
       26.17383255, 40.234375  , 31.13458075, 26.89232314, 26.86120692,
       38.09014668, 28.1969212 , 20.61631944, 20.436158  , 18.60822306,
       43.71537396, 39.95095131, 29.73704434, 21.52194707, 50.21913806,
       46.73978435, 32.68698061, 38.39060559, 21.67125803, 33.3318319 ,
       31.12068671, 16.94667641, 27.39225712, 24.83564646, 41.796875  ,
       30.11067708, 25.07619305, 47.61080332, 49.34210526, 27.34375   ,
       19.13580247, 35.49786654, 40.81632653, 14.6484375 , 42.1875    ,
       21.07719523, 18.8365651 , 32.24939532, 54.41921561, 35.32182104,
       31.43178833, 22.49134948, 48.48783695, 40.90368609, 31.02040816,
       28.76397107, 30.1102789 , 30.31933102, 35.08618043, 32.98791638,
       47.46642866, 26.12861083, 44.4640282 , 24.52681753, 19.73176242,
       25.07716049, 21.10687755, 47.25509533, 29.59183673, 36.25047023,
       31.4102392 , 26.02758248, 54.69678954, 32.85668009, 21.50294251,
       24.6152105 , 41.86424025, 28.21180556, 41.13865932, 19.37716263,
       39.63785415, 41.32231405, 38.54111729, 23.53304271, 40.7712239 ])

## Utilidades ingreso - gasto

In [70]:
import pandas as pd

In [71]:
pd.read_excel?

In [72]:
datos = pd.read_excel("datosCT.xlsx")

In [73]:
datos

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [83]:
listutilidades = datos["Ingreso"].values - datos["Gasto"].values

In [112]:
listutilidades

array([ -540,  -540,  1430,  1080, -1660,  -360,  -730,  1030,   440,
        -160,  2080, -1760], dtype=int64)

## Promedio de gastos en los que la utilidad fue negativa

In [135]:
for num in listutilidades:
    if num < 0:
        print(num)

-540
-540
-1660
-360
-730
-160
-1760

In [136]:
num.mean()

-1760.0

## Ingresos totales del aÃ±o

In [89]:
datos["Ingreso"].sum()

28020